// secrets.h.example
#ifndef SECRETS_H
#define SECRETS_H

const String SSID = "YOUR_SSID_HERE";
const String PASSWORD = "YOUR_PASSWORD_HERE";
const String LOCAL_IP = "YOUR_LOCAL_IP_HERE";
const String LIB_ID = "LIBRARY_ID_HERE";

#endif
