@import "tailwindcss";

:root {
    font-family: raleway, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.21;
    letter-spacing: -0.02em;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --color-navy: #004bad;
    --color-regular-blue: #0077ff;
    --color-light-blue: #b0eaff;
    --color-off-white: #f2f0f6;
    --color-cream: #fdfbd4;
    --color-myorange: #ffa500;
    --color-olive: #445626;
    --color-brown: #7c573d;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

/* body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
} */